@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    cursor: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (hover: hover) and (pointer: fine) {
    .cursor-container {
        display: block;
    }
}

@media (hover: none) and (pointer: coarse) {
    .cursor-container {
        display: none;
    }
}

body {
    @apply bg-black;
    @apply font-poppins;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

em {
    @apply text-blue;
    font-style: normal;
}